@import "@color_variables";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.sidebar_section {
    min-width: 23rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark_850_color);
}

.main_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}