.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tab_container {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
    border-radius: 0.6rem 0.6rem 0 0;

}

.tab_number {
    font-size: 1.6rem;
}