.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tab_container {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem 0.6rem 0 0;
    &.is_selected {
        background-color: var(--dark_800_color);
    }
}

.tab_number {
    font-size: 1.6rem;
}