@import "@css_variables";

.container {
    height: var(--main_window_topbar_height);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}