:root {
    --dark_basic_text_color: #f2f2f2;
    --dark_100_color: #f5f7fb;
    --dark_200_color: #f1f2f6;
    --dark_300_color: #e9eaee;
    --dark_350_color: #d8d9dd;
    --dark_400_color: #c7c8cc;
    --dark_450_color: #b8b9bd;
    --dark_500_color: #a9aaae;
    --dark_600_color: #7f8084;
    --dark_650_color: #75767a;
    --dark_700_color: #6a6c6f;
    --dark_725_color: #636467;
    --dark_750_color: #5b5c5f;
    --dark_775_color: #535457;
    --dark_800_color: #4b4c4f;
    --dark_825_color: #434447;
    --dark_850_color: #3a3b3e;
    --dark_863_color: #36373a;
    --dark_875_color: #323336;
    --dark_888_color: #2e2f32;
    --dark_900_color: #292a2d;
    --dark_925_color: #242528;
    --dark_950_color: #1f2022;
    --dark_975_color: #1a1b1d;
    --dark_1000_color: #151517;
}